<!-- src/app/your-component/forgot-password.component.html -->
<div class="main-container">
    <div class="left-panel">
        <img src="common.png" alt="Illustration">
    </div>


    <div class="right-panel">
        <h2 class="logo">Logo</h2>
        <div class="right_inner">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
                <h2>Forgot Password</h2>
                <div class="form-group">
                    <label for="email">Enter your email address</label>
                    <input id="email" formControlName="email" class="form-control" placeholder="Enter Email">
                    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
                        class="error-message">
                        Email is required and must be valid.
                    </div>
                </div>

                <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid">Send Link To My Email</button>

                <div class="back-to-signin">
                    Back to Sign In? <a href="user/login">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>