/* src/assets/login-form.css */

/* General styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8; /* Light background color */
}

span{
    position: relative;
    left: 375px;
    bottom: 37px;
    color: blue;
    font-size: 20px;
}
